/* Estilos generales */

::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(142, 188, 244);
}

.logo img {
    width: 10vw;
}

/* Estilos de la barra de navegación */
.navbar {
    width: 100%;
    height: 13vh;
    background-color: #094a88;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}


.nav-link {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos de la barra lateral */
.wrapper {
    height: 100vh;
    display: flex;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background: rgb(142, 188, 244);
}

.p-3 {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    height: 100vh;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background: #094a88;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 20vw;
    height: 100vh;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background: rgb(9, 74, 136);
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
iframe{
    margin: 1vh 0;
}

section{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: auto;
}

section, h2{
    text-align: center;
}
section{

    text-align: center;
}

/* Estilos del footer */
.footer {
    background-color: #1c2331;
    color: #fff;
    
}

.footer a {
    color: #fff;
}

/* Estilos de las columnas del footer */
.footer .col-md-3 {
    text-align: left;
}

/* Estilos de los íconos en el footer */
.footer .fas {
    margin-right: 10px;
}

/* Estilos del párrafo en el footer */
.footer p {
    margin-bottom: 0.5rem;
}

/* Estilos del enlace en el footer */
.footer a {
    text-decoration: none;
}

/* Estilos del elemento hr en el footer */
.footer hr {
    margin: 0;
}

/* Estilos del párrafo de copyright en el footer */
.footer .p-3 {
    background-color: rgba(0, 0, 0, 0.2);
}